<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Ejemplo consumo REST JSON</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script language="JavaScript">
        // Función para obtener una película a partir de un ID (índice de la lista en memoria)
        function getPeliById() {
            var id = $('#idpeli').val();
            $.ajax({
                url: "http://localhost:8080/peliculas/"+id
            }).then(function(data) {
                $('.peli-id').append(data.titulo);
                $('.peli-content').append(data.imdb);
            });
        }

        // Función para obtener todas las peliculas
        function getPeliculas() {
            // Llamada para obtener JSON con peliculas
            $.ajax({
                url: "http://localhost:8080/peliculas/"
            }).then(function(data) {
                // Procesado de las películas recibidas
                $('#result').empty();
                // Cada pelicula corresponde a una iteración del $.each siguiente
                $.each(data._embedded.peliculas, function (index, value) {
                    // Para cada pelicula se obtienen los datos de su director con otra llamada.
                    // La dirección de la llamada al director está en la propia película: _links.director.href
                    $.ajax({
                        url: value['_links']['director']['href']
                    }).then(function(dataDirector) {
                        // Se incluyen los datos de peli y director en la tabla de resultados.
                        $('#result').append('<tr><td>'+value['titulo']+'</td><td>'+value['imdb']+'</td>' +
                            '<td>'+dataDirector['nombre']+'&nbsp;'+dataDirector['apellidos']+'</td></tr>');
                    });
                });
            });
        }

        // Función para añadir una película a través de la API REST
        function addPeli() {
            // Primero se captan los datos del formulario y pasan a un objeto.
            var formData = {};
            formData['titulo'] = $('#titulo').val();
            formData['imdb'] = $('#imdb').val();
            // Para el director hay que enviar la URI completa al objeto existente:
            formData['director'] = 'http://localhost:8080/directores/'+$('#director').val();
            $.ajax({
                type: "POST",
                url: 'http://localhost:8080/peliculas/',
                dataType: 'json',
                async: false,
                // El objeto hay que convertirlo a texto
                data: JSON.stringify(formData),
                contentType: 'application/json'
            });
        }

        // Función para obtener peli por titulo
        function getPelisByTitulo() {
            var titulo = $('#titulo-form').val();
            $.ajax({
                url: "http://localhost:8080/peliculas/search/findByTitulo?titulo="+titulo
            }).then(function(data) {
                $.each(data._embedded.peliculas, function (index, value) {
                    $('.peli-id').append(value['titulo']);
                    $('.peli-content').append(value['imdb']);
                });
            });
        }

    </script>

</head>
<body>
    <div id="uno">
        <h2>Consulta una peli por id</h2>
        <form action="javascript:getPeliById();">
            Identificador de la pel&iacute;cula a cargar:&nbsp;<input id='idpeli' type='text'/>
            <input type="submit"/>
        </form>
        <h2>Consulta una peli por t&iacute;tulo</h2>
        <form action="javascript:getPelisByTitulo();">
            T&iacute;tulo de la pel&iacute;cula a cargar:&nbsp;<input id='titulo-form' type='text'/>
            <input type="submit"/>
        </form>
        <p class="peli-id">El identificador es : </p>
        <p class="peli-content">El enlace es : </p>
    </div>

    <br/>

    <div id="todos">
        <h2>Consulta todas las pelis</h2>
        <p><a href="javascript:getPeliculas();">Cargar todas las peliculas y directores</a></p>
        <table>
            <thead>
                <tr><td>T&iacute;tulo</td><td>IMDB</td><td>Director</td></tr>
            </thead>
            <tbody id="result">
            </tbody>
        </table>
    </div>

    <br/>

    <div id="introducir">
        <h2>Nueva peli</h2>
        <form id="nuevapeli" action="javascript:addPeli();">
            T&iacute;tulo:&nbsp;<input name="titulo" id="titulo" type="text"/>
            IMDB:&nbsp;<input name="imdb" id="imdb" type="text"/>
            ID de director:&nbsp;<input name="director" id="director" type="text"/>
            <input type="submit"/>
        </form>
    </div>
</body>
</html>